/* Navbar.css */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.navbar-user {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}